<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>IWBH</string>
    <key>CFBundleDisplayName</key>
    <string>IWBH</string>
    <key>CFBundleIdentifier</key>
    <string>com.yourname.iwbh</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>UIWidgetFamily</key>
    <array>
        <string>systemSmall</string>
        <string>systemMedium</string>
        <string>systemLarge</string>
    </array>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photo library to allow users to select images for their activities.</string>
</dict>
</plist>